In [5]:
import pandas as pd

В данных (data\ufo.csv) есть следующие признаки:

- "City" — город, где был замечен НЛО;
- "Colors Reported" — цвет объекта;
- "Shape Reported" — форма объекта;
- "State" — обозначение штата;
- "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 
  
Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [19]:
ufo_data = pd.read_csv('data/ufo.csv',sep=',')
ufo_df = ufo_data.copy()
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=False)

In [ ]:
ufo_df.describe(include=['object'])

           City Colors Reported Shape Reported  State
count     18215            2882          15597  18241
unique     6475              27             27     52
top     Seattle             RED          LIGHT     CA
freq        187             780           2803   2529

In [ ]:
# В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

ufo_df['Time'].dt.year.value_counts()

Time
1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1930       2
1941       2
1933       1
1934       1
1935       1
Name: count, Length: 68, dtype: int64

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод [diff()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.diff.html).

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days

In [40]:
st_NV = ufo_df['State'] == 'NV'

round(abs(ufo_df[st_NV]['Time'].diff(periods=-1).dt.days.mean()))

69