### ✍ В этом модуле мы познакомимся с агрегатными функциями.

И помогут нам в этом... покемоны! Как? Да очень просто!

На протяжении всего модуля мы будем работать с таблицей `sql.pokemon`, содержащей данные о покемонах и их характеристиках из классических видеоигр.

Давайте познакомимся с нашими покемонами и данными о них!

Присмотримся к содержимому таблицы sql.pokemon: в ней хранится информация о покемонах.

<center> <img src='img/Structura Pokemon.png'> </center>

Выведите все поля из таблицы sql.pokemon и изучите её содержимое.

<center> <img src='img/dst3-u2-md2_1_1.png'> </center>

Примечание. На этом скриншоте представлен лишь фрагмент таблицы: в действительности она значительно больше и содержит почти 800 строк.

Для начала получим все основные типы покемонов.

```SQL
SELECT
    type1
FROM sql.pokemon
```

Видно, что типы повторяются, потому что в результате запроса вы получаете **все строки**, которые подходят под заданные условия.

Чтобы получить **уникальные** значения из столбца, воспользуемся ключевым словом `DISTINCT`.

```SQL
SELECT DISTINCT
    type1
FROM sql.pokemon
```

Мы можем применять `DISTINCT` и для нескольких столбцов.

Получим, например, все уникальные пары основного и дополнительного типов для покемонов.

```SQL
SELECT DISTINCT
    type1,
    type2
FROM sql.pokemon
```

На скриншоте ниже представлен фрагмент вывода по нашему запросу.

<center> <img src='img/dst3-u2-md2_2_1.png'> </center>

Обратите внимание! `DISTINCT` пишется только один раз, в начале списка получаемых столбцов.

✍ Кроме простых математических операций, которые мы использовали в предыдущем модуле, СУБД позволяет проводить статистические вычисления для нескольких строк.

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию `COUNT`.

```SQL
SELECT
    COUNT(*)
FROM sql.pokemon
```

`COUNT` считает строки, а звёздочка (`*`) в аргументе функции означает, что считаются все строки, которые возвращает запрос.

Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.

Внутри функции `COUNT` мы можем также применять `DISTINCT`, чтобы вычислить количество уникальных значений.

```SQL
SELECT
    COUNT(DISTINCT type1)
FROM sql.pokemon
```

Назовём основные агрегатные функции, с которыми нам предстоит работать:

- `COUNT` — вычисляет число непустых строк;
- `SUM` — вычисляет сумму;
- `AVG` — вычисляет среднее;
- `MAX` — вычисляет максимум;
- `MIN` — вычисляет минимум.

Мы можем применять несколько агрегатных функций в одном запросе.

```SQL
SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"
FROM sql.pokemon
WHERE type1 = 'Grass'
```

В результате получим следующий вывод:

<center> <img src='img/dst3-u2-md2_3_1.png'> </center>

Итак, мы разобрали и попробовали применить базовые агрегатные функции.

Дополнительно

С полным перечнем существующих агрегатных функций вы можете ознакомиться в официальной [документации](https://postgrespro.ru/docs/postgrespro/11/functions-aggregate).

✍ Как мы помним, агрегатные функции вычисляют какой-то параметр для набора строк.

Прежде мы применяли агрегатные функции для всего вывода, а сейчас используем для различных групп строк. Поможет нам в этом ключевое слово `GROUP BY`.

`GROUP BY` используется для определения групп выходных строк, к которым могут применяться агрегатные функции.

Выведем число покемонов каждого типа.

```SQL
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY type1
ORDER BY type1
```

Мы получили такой результат:

<center> <img src='img/dst3-u2-md2_4_1.png'> </center>

Вывод, конечно же, можно сортировать по столбцу с агрегированием.

Представим ТОП существующих типов покемонов.

```SQL
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY pokemon_type
ORDER BY COUNT(*) DESC
```

Обратите внимание! Мы использовали в группировке не название столбца, а его алиас.

Мы можем осуществлять группировку по нескольким столбцам.

```SQL
SELECT
    type1 AS primary_type,
    type2 AS additional_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY 1, 2
ORDER BY 1, 2 NULLS FIRST
```

Обратите внимание! В группировке можно указывать порядковый номер столбца так же, как мы делали это в прошлом модуле для сортировки.

`GROUP BY` можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию `DISTINCT`.

Сравните выводы двух запросов:

```SQL
SELECT DISTINCT 
    type1
FROM sql.pokemon
-----------------------
SELECT
    type1
FROM sql.pokemon
GROUP BY type1
```

✍ Если ключевое слово `WHERE` определяет фильтрацию строк до агрегирования, то для фильтрации уже агрегированных данных применяется ключевое слово `HAVING`.

> Важно! `HAVING` обязательно пишется после `GROUP BY`.

Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.

```SQL
SELECT
    type1 AS primary_type,
    AVG(attack) AS avg_attack
FROM sql.pokemon
GROUP BY primary_type 
HAVING AVG(attack) > 90
```

Попробуйте удалить из запроса вывод второго столбца (со средним показателем атаки).

Запрос работает и выводит только названия типов, у которых средний показатель атаки выше 90.

В `HAVING` вы можете использовать все те же условия, что и в `WHERE`.

Дополнительно

Об отличиях `HAVING` от `WHERE` можно прочитать в официальной [документации](https://postgrespro.ru/docs/postgresql/11/tutorial-agg).

### Вместо резюме

В общем виде синтаксис оператора `SELECT`, с учётом имеющихся на данный момент знаний, представляем следующим образом:

```SQL
SELECT [ALL | DISTINCT] список_столбцов|*
FROM список_имён_таблиц
[WHERE условие_поиска]
[GROUP BY список_имён_столбцов]
[HAVING условие_поиска]
[ORDER BY имя_столбца [ASC | DESC],…]
```

**Обратите внимание!** В квадратных скобках указаны необязательные предложения: они могут отсутствовать в операторе `SELECT`.