проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения

датасет в формате [csv](https://lms-cdn.skillfactory.ru/assets/courseware/v1/8a7b3b3f18edf7a3772760221c97139b/asset-v1:SkillFactory+DST-3.0+28FEB2021+type@asset+block/students_performance.zip)

In [30]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv')

### Структура таблицы
- **gender** — пол;
- **race/ethnicity** — раса/этническая принадлежность;
- **parental level of education** — уровень образования родителей;
- **lunch** — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- **test preparation course** — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- **math score, reading score, writing score** — баллы по математике, чтению и письму по сто балльной шкале.

In [66]:
student_data[student_data['lunch'] != 'standard'].head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67

In [36]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [33]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
#Каков балл по письму у студента под индексом 155?
print(student_data['writing score'][155])

88

In [ ]:
 #Каков у студентов средний балл по математике?
print(student_data['math score'].mean())

In [62]:
#Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].value_counts(normalize=True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [63]:
#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
fltr_ = student_data['test preparation course'] == 'completed'
print(round(student_data[fltr_]['reading score'].mean()))

74

In [64]:
#Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score']==0].shape[0]

1

In [74]:
#Проверьте гипотезу: 
# у студентов с оплачиваемым питанием средний балл по математике выше, 
# чем у студентов с льготным питанием.
#В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
l_fltr1 = student_data['lunch'] == 'standard'
l_fltr2 = student_data['lunch'] != 'standard'

print(round(student_data[l_fltr1]['math score'].mean()))
print(round(student_data[l_fltr2]['math score'].mean()))

70
59

In [94]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [100]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от 
# среднего балла по письму у студентов в расовой группе C?
l_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
l_mean =  student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

abs(round(l_median - l_mean))

6